<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
    <Properties>
        <Property name="log-path">PropertiesConfiguration</Property>
    </Properties>
    <Appenders>
<!--        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>>
            </PatternLayout>
        </Console>-->
        
<!--        <SMTP name="mail-appender" subject="Jamusic Application Server Log Message"
            from="log@jamusicapp.ir" to="amirh715@gmail.com" smtpHost="localhost" smtpPort="2525">
        </SMTP>-->
        
        <File name="file-appender" fileName="/home/api/logs/api.log">
            <PatternLayout>
                <Pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
<!--        <Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="Console-Appender"/>
        </Logger>
        <Logger name="org.hibernate.stat" level="DEBUG" additivity="false">
            <AppenderRef ref="Console-Appender"></AppenderRef>
        </Logger>-->
        <Root level="fatal, error, info">
            <AppenderRef ref="file-appender"/>
            <!--<AppenderRef ref="mail-appender"/>-->
        </Root>
    </Loggers>
</Configuration>
